div{
    background-color: aqua;
    overflow:hidden;
    
}

.nav a{
    text-decoration: none;
    padding:5px 5px;
     display:block; 
  
    float:left;
    background-color: aqua;
    hover:5px;
}
/* @media screen and (max-width:600px){
    .nav a{
        text-align: center;
        width:100%;
    }
} */
.div2{
    float:left;
}
.div23{
   float:left;
}
.div4{
    clear:left;
}


